.logged-movies-user {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: MPLUSRounded1c;
}

.logged-movies-user .logged-movies-user-photo {
    width: 3.2rem;
    height: 3.2rem;
}

.logged-movies-user .logged-movies-user-photo img {
    width: 100%;
    height: 100%;
    clip-path: circle();
    display: flex;
    object-fit: cover;
    object-position: center;
}

.logged-movies-user .logged-movies-username a {
    width: 100%;
    color: #343A40;
    font-weight: 900;
    text-decoration: none;
    transition: 200ms all ease-in-out;
}

.logged-movies-user .number-of-user-logged-movies {
    margin-left: auto;
    width: 50%;
    text-align: end;
}

.logged-movies-user .logged-movies-username a:hover {
    color: #000
}

.movies-logged {
    justify-content: flex-start;
    margin-top: 2rem;
}

.movies-logged .movie-watched-box .movie-poster {
    height: 12rem;
}

.logged-movie-rating .rating-star {
    font-size: 0.6rem;
}

@media (max-width: 980px) {
    .movies-logged {
        justify-content: center;
    }
}