/* fonts */
@font-face {
    font-family: azeretMono;
    src: url('../fonts/AzeretMono-Regular.ttf');
}

@font-face {
    font-family: kindestreality;
    src: url('../fonts/KindestrealityDemo-1GrZe.ttf');
}

@font-face {
    font-family: MPLUSRounded1c;
    src: url('../fonts/MPLUSRounded1c-Regular.ttf');
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #E9ECEF;
}

/* header */
nav {
    width: 100%;
    background: linear-gradient(to right, #6c757d 0%, #343a40 100%);
}

nav .container {
    display: flex;
    justify-content: center;
}

nav .container .logo {
    margin-left: 70px;
    flex-basis: 75%;
}

nav .container .logo h1 {
    font-family: kindestreality;
    font-size: 25px;
    color: #DEE2E6;
    cursor: default;
    font-family: azeretMono;
}

nav .container .links {
    flex-basis: 40%;
    margin-right: 70px;
}

nav .container .links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .container .links ul li.link-item {
    float: left;
    text-align: center;
}

nav .container .links ul li.link-item a {
    text-decoration: none;  
    color: #ADB5BD;
    font-family: azeretMono;
    transition: color 0.2s ease-in-out;
}

nav .container .links ul li.link-item a:hover {
    color: #DEE2E6;
}

nav .clapboard {
    display: none;
    flex-direction: column;
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
}

nav .clapboard button {
    background-color: transparent;
    border: 0;
}

nav .clapboard i {
    cursor: pointer;
    color: #F8F9FA;
    font-size: 1.7rem;
    opacity: 1;
}

nav .clapboard i:hover {
    color: #CED4DA;
}

/* for when we don't have poster img */
.poster-not-found {
    display: flex;
    width: 100%;
    height: 100%;
    background: #012A4A;
    color: #E9ECEF;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: default;
}

/* for when we don't have photo img  */ 
.photo-not-found {
    display: flex;
    width: 100%;
    height: 12rem;
    background: #012A4A;
    color: #E9ECEF;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: default;
}


/* main container */
.container {
    width: 90%;
    margin: auto;
}

@media (max-width: 980px) {
    nav .container {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    nav .links {
        display: none;
        flex-basis: 100%;
        margin-left: 70px;
        margin-right: 70px;
        padding: 15px;
        margin-bottom: 15px;
    }

    nav .links[data-visible="true"] {
        display: flex;
    }

    nav .links ul {
        gap: 1rem;
    }
    
    nav .logo {
        display: flex;
        flex-basis: 100%;
        gap: 2rem;
        margin-right: 70px;
        justify-content: center;
    }

    nav .clapboard {
        display: flex;
        flex-basis: 3rem;
    }

    nav .container .links ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 18px;
    }

    nav .container .links ul li.link-item {
        width: 100%;
        margin-right: 70px;  
    }
}

/* footer */
.footer {
    width: 100%;
    height: 300px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    background-color: #212529;
    justify-content: center;
    align-items: center;
    line-height: 0.2rem;
}

.footer .logo {
    font-family: kindestreality;
    font-size: 20px;
    font-weight: 200;
    cursor: default;
}

.footer .one {color: #F8F9FA}
.footer .two {color: #DEE2E6}
.footer .three {color: #ADB5BD}
.footer .four {color: #495057; margin-left: 1%}
.footer .five {color: #495057; margin-left: 2%}
.footer .six {color: rgb(38, 45, 50); margin-left: 3%}