/* movie details */

/* poster/director */
.movie-deatils {
    display: flex;
    justify-content: center;
    font-family: MPLUSRounded1c;
    margin-top: 40px;
}

.movie-deatils .poster-director {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
}

.movie-deatils .poster-director .poster  {
    width: 100%;
    display: flex;
}

.movie-deatils .poster-director .poster img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.movie-deatils .poster-director .director {
    text-align: center;
    width: 100%;
    color: #343A40;
    background-color: #89C2D9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.movie-deatils .poster-director .director #director-name {
    color: #000;
    padding-bottom: 30px;
    margin: auto;
    margin-top: -20px;
    line-height: 1.5rem;
    word-wrap: break-word;
    overflow: hidden;
}

/* main info */
.movie-deatils .movie-info {
    padding: 30px;
    flex-basis: 80%;
}

.movie-deatils .movie-info .movie-main-info .release-year {
    font-weight: bold;
    color: #343A40;
}

.movie-deatils .movie-info .movie-main-info .movie-name {
    margin-top: -40px;
    font-size: 40px;
    line-height: 2.9rem;
    font-weight: 700;
    width: 80%;
}

.movie-deatils .movie-info .movie-main-info .genre {
    margin-top: -30px;
    font-weight: 600;
    color: #343A40
}

.movie-deatils .plot {
    margin-top: 30px;
    font-size: 19px;
    width: 90%;
}

.movie-deatils .plot .overview {
    margin-top: -10px
}

/* cast */
.movie-deatils .movie-cast {
    margin-top: 50px;
}

.movie-deatils .movie-cast .movie-cast-title {
    font-size: 20px;
    font-weight: 800;
    border-bottom: 2px solid #343A40;
    width: 5rem;
    cursor: default;
    transition: 0.5s ease-out;
}

.movie-deatils .movie-cast .movie-cast-title:hover {width: 10rem;}

.movie-deatils .movie-cast .cast-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;
}

.movie-deatils .movie-cast .cast-content .movie-cast-box {
    flex-basis: 8rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.movie-deatils .movie-cast .cast-content .movie-cast-box .cast-actor-img {
    display: flex;
}

.movie-deatils .movie-cast .cast-content .movie-cast-box .cast-actor-img img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.movie-deatils .movie-cast .cast-content .movie-cast-box .cast-box-info {
    text-align: center;
    line-height: 1.3rem;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.movie-deatils .movie-cast .cast-content .movie-cast-box .cast-box-info .cast-actor-name {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
}

.movie-deatils .movie-cast .cast-content .movie-cast-box .cast-box-info .cast-actor-character {
    font-size: 15px;
    color: #495057;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    word-break: break-all;
    padding: 5px;
}

/* movie-options */
.movie-options {
    width: 50%;
    background-color: #89C2D9;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-family: MPLUSRounded1c;
    border-radius: 20px;
}

.movie-options .log-option {
    flex-basis: 80%;
    padding: 10px;
    display: flex;
    color: #012A4A;
}

.movie-options .log-option .rating {
    flex-basis: 100%;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-options .log-option .rating-stars {
    cursor: default;
}

.movie-options .log-option .rating-title {
    font-size: 19px;
    font-weight: 600;
}

.movie-options .log-option .rating-stars i {
    font-size: 30px;
    cursor: pointer;
}

.movie-options .log-option .rating-result {
    font-size: 16px;
}

.movie-options .options-btns {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.movie-options .options-btns .watched-option,
.movie-options .options-btns .watchlist-option {
    width: 100%;
    height: 50%;
}

.movie-options .options-btns .watched-option .watched-btn,
.movie-options .options-btns .watchlist-option .watchlist-btn {
    width: 100%;
    height: 100%;
    border: 0;
    cursor: pointer;
    color: #E9ECEF;
    font-size: 1.2rem;
    transition: 0.4s all ease-in-out;
    font-family: MPLUSRounded1c;
    padding: 7px
}

.movie-options .options-btns .watched-option .watched-btn {
    background-color: #61A5C2;
    border-top-right-radius: 20px;
}

.movie-options .options-btns .watched-option .watched-btn:hover {
    background-color: #2A6F97;
}

.movie-options .options-btns .watchlist-option .watchlist-btn {
    background-color: #2C7DA0;
    border-bottom-right-radius: 20px;
}

.movie-options .options-btns .watchlist-option .watchlist-btn:hover {
    background-color: #2A6F97;
}


@media (max-width: 908px) {
    .movie-backdrop {
        width: 100%;
    }

    .movie-deatils {
        flex-direction: column;
    }

    .movie-deatils .movie-cast .cast-content {
        justify-content: center;
    }

    .movie-options {
        flex-direction: column;
        width: 90%;
    }

    .movie-options .options-btns .watched-option .watched-btn {
        border-top-right-radius: 0px;
    }

    .movie-options .options-btns .watchlist-option .watchlist-btn {
        border-bottom-left-radius: 20px;
    }
}
