.profile-movies-logged {
    margin-top: 0;
}

.profile-movie-poster {
    height: 17rem !important;
}

.logged-movie-rating {
    margin-top: 0rem;
    text-align: center;
}

.logged-movie-rating .rating-star {
    color: #343A40;
    font-size: 0.8rem;
}