.friend-box {
    width: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user-data .user-data-box .box-poster {
    box-shadow: 0px 0px 0px;
}

.friend-box .box-poster img {
    background-color: transparent !important; 
    clip-path: circle();
    object-fit: scale-down !important;
}

.friend-box .friend-username {
    text-decoration: none;
    text-align: center;
    margin-top: .5rem;
    font-size: 1.1rem;
    color: #014F86;
    transition: 300ms all ease-in-out;
}

.friend-box .friend-username:hover {
    color: #343A40;
}