/* profile main info */
.profile-container {
    display: flex;
    margin-top: 30px;
}

.profile-main-info {
    background-color: #D9D9D9;
    padding: 10px;
    flex-basis: 20%;
    border-radius: 20px;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.profile-main-info .profile-username {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
}

.profile-main-info .profile-username .profile-img {
    display: flex;
    flex-basis: 10rem;
}

.profile-main-info .profile-username .profile-img img {
    width: 100%;
    display: flex;
    border-radius: 50%;
}

.profile-main-info .profile-username .profile-name {
    font-size: 20px;
    font-family: MPLUSRounded1c;
}

.profile-main-info .profile-username .profile-name .profile-full-name {
    font-size: 1.8rem;
    font-weight: 900;
}

.profile-main-info .profile-username .profile-name .profile-username {
    color: #343A40;
    margin-top: -1.9rem
}

.profile-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: MPLUSRounded1c;
}

.profile-stats .profile-movies-watched-stats,
.profile-stats .profile-movies-watchlist-stats {
    flex-basis: 50%;
}

.profile-stats .profile-movies-watched-stats .profile-number-of-movies-watched,
.profile-stats .profile-movies-watchlist-stats .profile-number-of-watchlist-movies {
    font-size: 1.4rem;
    font-weight: 900;
}

.profile-stats .stats-title {
    color: #343A40;
    margin-top: -1.4rem;
    font-size: 1.2rem;

}

/* movies logged */
.profile-movies-logged {
    padding-left: 30px
}

.profile-movies-logged .profile-movies-logged-label {
    font-size: 1.2rem;
    font-family: MPLUSRounded1c;
}

.profile-movies-logged .movies-logged {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
}

.profile-movies-logged .movies-logged .movie-watched-box {
    width: 10rem;
}

.profile-movies-logged .movies-logged .movie-watched-box img {
    width: 100%;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 2px #000;
    transition: 0.2s all ease-in-out;
}

.profile-movies-logged .movies-logged .movie-watched-box img:hover {
    box-shadow: 0 0 8px #000;
}

@media (max-width: 908px) {
    .profile-movies-logged .movies-logged {
        justify-content: center;
    }

    .profile-container {
        flex-direction: column;
    }
}