.search-section {
    text-align: center;
    margin-top: 50px;
}

.search-section .search-label {
    font-family: azeretMono;
}

.search-input {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 700px;
    height: 45px;
    margin-top: 7px;
}

.search-input #search-tag {
    flex-basis: 75%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 0;
    background-color: #ADB5BD;
    color: #343A40;
    padding: 20px;
    font-size: 1.1rem;
    font-family: MPLUSRounded1c;
    font-weight: 600;
    justify-content: center;
}

.search-input #search-tag:focus {
    outline: none;
}

.search-input .search-btn {
    font-size: 0.8rem;
    flex-basis: 25%;
    font-family: azeretMono;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0;
    background-color: #343A40;
    color: #DEE2E6;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

.search-input .search-btn:hover {
    background-color: #495057;
}