/* search input */
.search-section {
    text-align: center;
    margin-top: 50px;
}

.search-section .search-label {
    font-family: azeretMono;
}

.search-input {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 700px;
    height: 45px;
    margin-top: 7px;
}

.search-input #search-tag {
    flex-basis: 75%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 0;
    background-color: #ADB5BD;
    color: #343A40;
    padding: 20px;
    font-size: 1.1rem;
    font-family: MPLUSRounded1c;
    font-weight: 600;
    justify-content: center;
}

.search-input #search-tag:focus {
    outline: none;
}

.search-input .search-btn {
    font-size: 0.8rem;
    flex-basis: 25%;
    font-family: azeretMono;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0;
    background-color: #343A40;
    color: #DEE2E6;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

.search-input .search-btn:hover {
    background-color: #495057;
}

/* search result */
.search-results {
    margin-top: 50px;
    font-family: MPLUSRounded1c;
}

.search-results .search-title {
    display: none;
}

.search-results .search-results-title {
    font-size: 17px;
}

.search-results .results {
    display: flex; 
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    flex-grow: 1;
}

.search-results .results .search-result-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 12rem;
}

.search-results .results .search-result-box .poster {
    width: 100%;
}

.search-results .results .search-result-box .poster img {
    width: 100%;
    float: left;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.search-results .results .search-result-box .poster .poster-img {
    width: 100%;
}

.search-results .results .search-result-box .main-info {
    background-color: #89C2D9;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-results .results .search-result-box .main-info .name {
    font-size: 20px;
    line-height: 1.5rem;
}

.search-results .results .search-result-box .main-info .name a.movie-page-link {
    text-decoration: none;
    color: #014F86;
    transition: 0.3s all ease-in-out;
}

.search-results .results .search-result-box .main-info .name a.movie-page-link:hover {
    color: #012A4A
}

.search-results .results .search-result-box .main-info .release-date {
    font-size: 13px;
    margin-top: -12px;
    color: #212529;
    
}

@media (max-width: 908px) {

    .search-results .results .search-result-box {
        flex-basis: 12rem;
    }

}
